<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>정글 파티메이커</title>
  </head>
  <body>
    <p>안녕하세요, {{user["name"]}}님!!</p>
    <a href="/rooms">파티 찾기</a>
    <a href="/users/rooms">신청한 파티</a>
    <a href="/rooms/create">파티 만들기</a>
    <button onclick="logout()">로그아웃</button>

    {% block content %}{% endblock %}

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="/static/app.js"></script>
  </body>
</html>
