{% extends "base.html" %}{% block content %}

<h1>파티 만들기</h1>
<form action="/rooms/create" , method="post">
  <label for="title">제목</label>
  <input type="text" name="title" id="title" required />
  <label for="location">장소</label>
  <input type="text" name="location" id="location" required />
  <label for="time">시간</label>
  <input type="datetime-local" id="time" name="time" required />
  <label for="max_count">인원수</label>
  <input
    type="number"
    name="max_count"
    id="max_count"
    min="2"
    value="2"
    required
  />
  <label for="category">분류</label>
  <select name="category" id="category" required>
    <option value="운동">운동</option>
    <option value="음식">음식</option>
    <option value="공동 구매">공동 구매</option>
    <option value="외출">외출</option>
    <option value="기타">기타</option>
  </select>
  <button>만들기</button>
</form>

<script src="{{url_for('static', filename='formTime.js')}}"></script>
{% endblock %}
