<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>정글 파티메이커</title>
  </head>
  <body>
    <p>안녕하세요, {{user["name"]}}님!!</p>
    <a href="/rooms">파티 찾기</a>
    <a href="/users/rooms">신청한 파티</a>
    <a href="/rooms/create">파티 만들기</a>
    <button onclick="logout()">로그아웃</button>

    <h1>신청한 파티</h1>
    <h2>확정된 파티</h2>
    {% for room in confirmed %}
    <ul>
      <li>모임이름: {{room["title"]}}</li>
      <li>카테고리: {{room["category"]}}</li>
      <li>인원수: {{room["user_count"]}} / {{room["max_count"]}}</li>
      <li>호스트: {{room["host_name"]}}</li>
      <li>장소: {{room["location"]}}</li>
      <li>시간: {{room["time"]}}</li>
    </ul>
    <a href="/rooms/{{room['_id']}}">세부사항</a>
    {% endfor %}
    <h2>확정되지 않은 파티</h2>
    {% for room in not_confirmed %}
    <ul>
      <li>모임이름: {{room["title"]}}</li>
      <li>카테고리: {{room["category"]}}</li>
      <li>인원수: {{room["user_count"]}} / {{room["max_count"]}}</li>
      <li>호스트: {{room["host_name"]}}</li>
      <li>장소: {{room["location"]}}</li>
      <li>시간: {{room["time"]}}</li>
    </ul>

    <!-- 이용자가 호스트일 때 -->
    {% if g.user["_id"] == room["host_id"] %}
    <a href="/rooms/{{room['_id']}}/modify">수정하기</a>
    <form
      action="/rooms/{{room['_id']}}/delete"
      method="post"
      class="deleteForm"
    >
      <button>삭제하기</button>
    </form>
    <form
      action="/rooms/{{room['_id']}}/confirm"
      method="post"
      class="confirmForm"
    >
      <button>확정하기</button>
    </form>
    {% else %}
    <!-- 이용자가 호스트가 아닐 때 -->
    <button onclick="exit('{{room['_id']}}')">퇴장하기</button>
    {% endif %} {% endfor %}

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="/static/app.js"></script>
  </body>
</html>
