<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <style></style>
  </head>

  <body>
    <h1>
      <input
        type="text"
        id="email"
        placeholder="이메일을 입력하세요"
        required
      />
      <input
        type="password"
        id="password"
        placeholder="비밀번호를 입력하세요"
        required
      />
      <button onclick="login()">로그인</button>
      <button onclick="window.location.href='/signup'">회원가입</button>
    </h1>

    <script>
      function login() {
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        fetch("/users/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ email, password }),
        })
          .then((response) => response.json())
          .then((data) => {
            // 토큰이 있다면 로그인
            if (data.token) {
              alert("로그인 성공");
              //로그인 성공시 토큰을 저장
              setCookie("token", data.token, 7);
              //localStorage.setItem('token', data.token);
              window.location.href = "/testpage";
            } else {
              alert(data.message);
            }
          });
      }

      // 쿠키를 설정하는 함수
      function setCookie(name, value, days) {
        const expires = new Date();
        expires.setTime(expires.getTime() + days * 24 * 60 * 60 * 1000); // 만료일 설정
        document.cookie = `${name}=${value};expires=${expires.toUTCString()};path=/;SameSite=Strict`;
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="/static/app.js"></script>
  </body>
</html>
