{% extends "base.html" %} {% block title %}파티 수정하기{% endblock %}
{% block content %}

<div class="main">
    <div class="party-container">
      <h1 class="title">파티 수정하기</h1>
      <!-- 폼 시작 -->
      <form action="/rooms/{{room['_id']}}/modify" method="post">
        <!-- 제목 -->
        <div class="form-group row">
          <label for="fixtitle" class="col-sm-3 col-form-label">제목</label>
          <div class="col-sm-9">
            <input type="text" class = "form-control" name="title" id="fixtitle" value="{{room[" title"]}}" />
          </div>
        </div>

        <!-- 장소 -->
        <div class="form-group row">
          <label for="fixlocation" class="col-sm-3 col-form-label">장소</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="fixlocation" name="location">
          </div>
        </div>

        <!-- 시간 -->
        <div class="form-group row">
          <label for="fixtime" class="col-sm-3 col-form-label">시간</label>
          <div class="col-sm-9">
            <input type="datetime-local" class="form-control" id="fixtime" name="time">
          </div>
        </div>

        <!-- 인원수 -->
        <div class="form-group row">
          <label for="fixmax_count" class="col-sm-3 col-form-label">인원수</label>
          <div class="col-sm-9">
             <!-- 신청 인원수보다 더 낮게 조절할 수 없음 -->
            <input type="number" class="form-control" name="max_count" id="fixmax_count" value="{{room[" max_count"]}}" min="{{room[" user_count"]}}" />
          </div>
        </div>

        <!-- 분류 -->
        <div class="form-group row">
          <label for="fixcategory" class="col-sm-3 col-form-label">분류</label>
          <div class="col-sm-9">
            <select class="form-control" name="category" id="fixcategory" >
            {% for cat in categories %}
            <option value="{{cat}}" {% if cat == room["fixcategory"] %} selected {% endif %}>{{cat}}</option>
            {% endfor %}
            </select>
          </div>
        </div>

        <!--  만들기 버튼 온클릭 추가해야함  -->
        <button type="submit" class="btn btn-light btn-block btn-login">만들기</button>
        <a class="btn btn-light btn-block btn-login" href="/rooms">뒤로가기</a>
      </form>


{% endblock %}
