<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>정글 파티메이커</title>
  </head>
  <body>
    {% for room in rooms %}
    <ul>
      <li>모임이름: {{room["title"]}}</li>
      <li>카테고리: {{room["category"]}}</li>
      <li>인원수: {{room["user_count"]}} / {{room["max_count"]}}</li>
      <li>호스트: 작업중</li>
      <li>참여인원: 작업중</li>
    </ul>

    <!-- 인원수 꽉찼거나, 이미 참여한 경우 비활성화 -->
    <!-- <button>참여하기</button> -->

    <a href="/rooms/{{room['_id']}}/modify">수정하기</a>
    <form action="/rooms/{{room['_id']}}/delete" method="post">
      <button>삭제하기</button>
    </form>

    {% endfor %}
    <br />
    <a href="/rooms/create">파티 만들기</a>
  </body>
</html>
