{% extends "base.html" %} {% block content %}
<h1>파티 찾기</h1>
{% for room in not_confirmed %}
<ul>
  <li>모임이름: {{room["title"]}}</li>
  <li>카테고리: {{room["category"]}}</li>
  <li>인원수: {{room["user_count"]}} / {{room["max_count"]}}</li>
  <li>호스트: {{room["host_name"]}}</li>
  <li>장소: {{room["location"]}}</li>
  <li>시간: {{room["time"]}}</li>
</ul>

<!-- 이미 참여한 경우에도 disable해야 함-->
{%if room["user_in_room"] %}
<button disabled>신청 완료</button>
{% elif room["user_count"] >= room["max_count"] %}
<button disabled>정원 초과</button>
{% else %}
<button onclick="join('{{room['_id']}}')">참여하기</button>
{% endif %} {% endfor %} {% endblock %}
