<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>정글 파티메이커</title>
  </head>
  <body>
    <h1>파티 참가하기</h1>
    {% for room in not_confirmed %}
    <ul>
      <li>모임이름: {{room["title"]}}</li>
      <li>카테고리: {{room["category"]}}</li>
      <li>인원수: {{room["user_count"]}} / {{room["max_count"]}}</li>
      <li>호스트: 작업중</li>
      <li>참여인원: 작업중</li>
    </ul>

    <form action="/rooms/{{room['_id']}}/join" method="post">
        <!-- 이미 참여한 경우에도 disable해야 함-->
      <button {% if room["user_count"] >= room["max_count"] %} disabled {% endif %}>참여하기</button>
    </form>

    {% endfor %}
    <br />
    <a href="/users/rooms">파티 수정하기</a>
  </body>
</html>
