{% for room in confirmed %}
<div class="col">
  <div class="card"></div>
</div>
{% endfor %}

<div class="card-body">
  <!-- 상단: 이모지 + 파티명 + 인원수 -->
  <div class="d-flex align-items-center mb-3">
    <div style="font-size: 2.5rem; margin-right: 10px">
      {% if room["category"] == "운동"%}🏃 {% elif room["category"] ==
      "음식"%}🍗 {% elif room["category"] == "공동 구매"%}🛒 {% elif
      room["category"] == "외출"%}🚪 {% else %} 🎉 {% endif %}
    </div>
    <div>
      <h5 class="card-title mb-1">
        {{ room["title"] }} {% if g.user["_id"] == room["host_id"] %}<span
          class="badge badge-secondary"
          >호스트</span
        >{% endif %}
      </h5>
      <div style="font-size: 0.9rem">
        인원수: {{ room["user_count"] }} / {{ room["max_count"] }}
      </div>
    </div>
  </div>
  <!-- 상단 정보 끝 -->

  <!-- 하단 정보 -->
  <ul class="card-list">
    <li>호스트: {{room["host_name"]}}</li>
    <li>장소: {{ room["location"] }}</li>
    <li>시간: {{ format_time(room["time"]) }}</li>
    <li>카테고리: {{ room["category"] }}</li>
  </ul>
  <!-- 하단 정보 끝 -->
  <div class="d-flex justify-content-between gap-2">
    <a class="btn btn-light w-100" href="/rooms/{{room['_id']}}">세부사항</a>
  </div>
</div>
